body {
    margin: 0 10% 0 10%;
}

h1 {
    text-align: center;
}

.around {
    display: flex;
    justify-content: space-around;
}

.label {
    display: flex;
    align-items: center;
}

.label > input {
    margin-right: 5px;
}