@font-face {
    font-family: "Inter-Regular";
    src: url("./fonts/Inter-Regular.ttf")
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, p, fieldset, footer {
    padding: 0.5em 0em 0.5em 0em;
}


:root {
    --color-one: oklch(25% 0.1 300);
    --color-two: oklch(75% 0.1 300)
}

html {
    font-family: "Inter-Regular";
    background-color: var(--color-one);
    color: var(--color-two);
}

legend {
    padding: 0.20em 0.30em;
    background-color: var(--color-two);
    color: var(--color-one);
    outline: 0.1em solid var(--color-two);
    border-radius: 3px;
}

body {
    position: relative;
    height: 100vh;
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

fieldset {
    border-radius: 3px;
    padding: 1em;
    border-color: var(--color-two);
}

hr {
    margin: 0.5em 0;
    border-color: var(--color-two);
}

input {
    background-color: var(--color-two);
    padding: 0.5em;
    border: none;
    border-radius: 3px;
    color: var(--color-one);
}

input:hover {
    background-color: oklch(95% 0.1 300 / 75%);
    transition: 120ms background-color ease-in-out;
}

input:focus{
    outline: max(2px, 0.15em) solid var(--color-two);
    outline-offset: max(2px, 0.15em);
}

input[type="radio"]{
    appearance: none;
    background-color: currentColor;
    margin: 0;
    width: 1.15em;
    height: 1.15em;
    color: currentColor;
    border: 0.15 solid currentColor;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-content: center;
}


input[type="radio"]::before{
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-one);
    background-color: CanvasContext;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}